* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}
.nav-pages {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
